{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block content %}
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1380&t=st=1680605184~exp=1680605784~hmac=1aee896b04080abd3844f9d49b14f5f68ff624b355d11d39f77bcd406c721966");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	margin: 100px auto;
	width: 400px;
	color:#00FFFF;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

form input[type="submit"] {
	background-color: #008CBA;
	color: #fff;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #005f78;
}
#screenshot{
   color:black;
}

</style>
<div class="container">
    <h1>{{ app.name }}</h1>
    <p>{{ app.points }} points</p>
    <form method="post" enctype="multipart/form-data" action="{% url 'task_submit' app.id app.name app.points %}">
        {% csrf_token %}
        <label for="screenshot">Screenshot:</label>
        <input type="file" id="screenshot" name="screenshot"><br>
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}
